.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 200px;
}
.detail {
  display: flex;
  >div {
    flex: 1;
  }
}
.imageGalleryWrapper {
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
}
.shortCutWrapper{
  display: flex;
  flex-direction: column;
}
.shortcut{
  width: 70px;
  height: 70px;
  margin: 10px 30px 10px 0px;
  cursor: pointer;
}
.shortcut:first-child {
  margin-top: 0;
}
.introductionTitle{
  font-weight: bold;
  margin-top: 10px;
}
.price{
  font-size: 14px;
  color: #d2001e;
  line-height: 1;
  font-weight: 500;
  margin-top: 20px;
}
.deadline{
  font-size: 12px;
  margin-top: 5px;
}
.sizeButton {
  border-color: #f5f5f5 !important;
  background: #f5f5f5 !important;
  border-radius: 0 !important;
  color: black !important;
  margin: 10px 0;
}
.sizeButton:first-child{
  margin-right: 10px;
}
.introductionNumber {
  margin-bottom: 10px;
}
.title {
    color: white;
    text-align: center; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: purple;
    text-shadow: 
      -1px 1px 0 #000,
      -2px 2px 0 #000,
      -3px 3px 0 #000,
      -4px 4px 0 #000,
      -5px 5px 0 #000,
      -6px 6px 0 #000,
      -7px 7px 0 #000;
    font-size: 40px;
    
}